__pycache__/
/data_latest/
.vscode
.idea
data
.venv
tmp
*.db
**/.DS_Store
*.h265
*.pt
/venv
venv.linux
backup
backup.s
requirements_build.txt
.env
/migrations/versions/*
!/migrations/versions/__init__.py
/data/*
!/data/coco.db.json
!/data/vendor.db.json

test.db
/.idea/
/app/changelog.txt
